:root{
	--font: 'SF Pro Display';
	--black: #111111;
	--yellow: #F0DBA0;
	--grey: #1111114D;
	--gray-text: #ACACAC;
	--button-pd: 0 24px;
	--green: #C7DEDD;
	--light-grey: #F4F3F2;
}

/* GENERAL */
.page_wrapper{
	max-width: 1440px;
	margin: 0 auto;
}
body{
	font-family: var(--font);
}
.base_wrapper{
	padding: 0 60px;
}
.main_button{
	height: 42px;
	padding: 0 24px;
	border-radius: 5px;
	background: var(--black);
	color: white;
	display: flex;
	min-width: 132px;
	align-items: center;
	justify-content: center;
}
input:focus-visible{
	outline: none;
}


/* HEADER */
.header{
	padding: 20px 60px;
}
.navbar{
	display: flex;
	align-items: center;
	width: 100%;
	font-size: 14px;
	font-weight: 600;
}
.navbar_items{
	display: flex;
}
.navbar_right{
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}
.navbar_items{
	margin-left: 60px;
	display: flex;
	align-items: center;
}
.navbar_items .navbar_item{
	color: var(--black);
	margin-right: 36px;
	display: flex;
	align-items: center;
}
.navbar_items .navbar_item:last-child{
	margin-right: 0;
}
.navbar_item.buttonized{
	display: flex;
	align-items: center;
	margin-right: 10px;
	padding: 0 24px;
	height: 42px;
	border-radius: 5px;
	border: 1px solid var(--black);
}
.navbar_item.buttonized:last-child{
	margin-right: 28px;
}
.navbar_action{
	height: 42px;
	padding: 0 24px;
	border-radius: 5px;
	background: var(--black);
	color: white;
	display: flex;
	min-width: 132px;
	align-items: center;
	justify-content: center;
}
.navbar_buttons{
	display: flex;
	justify-content: flex-end;
	margin-left: auto;
}


/* MAIN BANNER */
.main_banner{
	margin-bottom: 32px;
}
.search_wrapper{
	max-height: 635px;
	width: 100%;
	padding: 0 60px;
	font-weight: 600;
	display: grid;
	grid-template-columns: 1fr auto;
	grid-gap: 16px;
}
.ls_block{
	padding: 60px 48px;
	background: var(--light-grey);
	border-radius: 16px;
}
.prompt_block, .search_area{
	grid-column: 1;
	grid-row: 1;
}
.search_area{
	grid-row: 2;
}
.prompt_block .text_mess{
	font-size: 64px;
	font-weight: 800;
}
.search_title{
	display: flex;
	width: 100%;
	justify-content: space-between;
	align-items: center;
}
.search_title .title_caption{
	color: var(--gray-text);
	position: relative;
	margin-right: 20px;
}
.search_title .title_text{
	font-weight: bold;
	font-size: 28px;
}
.title_caption:after{
	position: absolute;
	content: "\2193";
	width: 20px;
	height: 20px;
	margin-left: 12px;
}
.search_input{
	position: relative;
	display: flex;
	align-items: center;
	margin-top: 20px;
	margin-bottom: 12px;
}
.search_input input{
	width: 100%;
	height: 50px;
	padding: 14px;
	border: none;
	background: none;
	font-size: 16px;
	font-family: var(--font);
	line-height: 130%;
}
.search_button{
	width: 100%;
}
.btn_search{
	width: 100%;
	border-radius: 5px;
	padding: 16px 24px;
	text-align: center;
	background: var(--black);
	color: white;
	font-size: 14px;
	font-weight: 600;
	font-family: var(--font);
}
.search_input #search::placeholder{
	padding-left: 36px;
}
.search_input #search:focus-visible{
	outline: none;
}
.search_input:before{
	position: absolute;
	visibility: visible;
	content: "";
	background: url('../imgs/search.svg') no-repeat 100% 100%/ cover;
	width: 24px;
	height: 24px;
	margin-left: 14px;
}
.search_input.without_icon:before{
	visibility: hidden;
}
.cv_fill{
	height: 635px;
	grid-column: 2;
	grid-row: 1 / span 2;
	width: 582px;
}
.cv_bg{
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	background: url('../imgs/chats.png') no-repeat 5% 30%,
				url('../imgs/doodles.png') no-repeat 6% 65%,
				url('../imgs/team.png') no-repeat 80% / contain,
				var(--green);
	height: 100%;
	object-fit: contain;
	border-radius: 16px;
}
.cv_input{
	position: absolute;
	display: flex;
	align-content: center;
	top: 66%;
	width: 78%;
	height: 105px;
	background: white;
	border-radius: 10px;
}
.input_body{
	display: flex;
	align-items: center;
	font-size: 12px;
	font-weight: 500;
	padding: 24px;
}
.body_left .body_title{
	margin-bottom: 10px;
	font-size: 16px;
	font-weight: 600;
}
.body_caption .colored{
	color: #71a3bc;
}
.body_left .body_caption{
	max-width: 75%;
}
.body_right .body_icon{
	border-radius: 50%;
	background: url('../imgs/share.svg') no-repeat 50% 50%,
				var(--yellow);
	height: 50px;
	width: 50px;
}

/* CAROUSEL */
.carousel_wrapper{
	background: var(--light-grey);
	border-radius: 16px;
	padding: 64px 0;
}
.carousel_header{
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 48px;
	margin-bottom: 40px;
}
.carousel_header .carousel_title{
	font-size: 48px;
	font-weight: bold;
}
.carousel_arrows{
	display: flex;
	align-items: center;
}
.carousel_arrows .arrow_left,
.carousel_arrows .arrow_right{
	display: flex;
	align-items: center;
	justify-content: center;
	height: 54px;
	width: 54px;
	border-radius: 50%;
	font-size: 20px;
}
.carousel_arrows .arrow_left{
	background: white;
	margin-right: 16px;
}
.carousel_arrows .arrow_right{
	background: var(--black);
	color: white;
}
.carousel_body{
	padding-left: 48px;
	display: flex;
	align-items: center;
	overflow: hidden;
}
.vacancy_card{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 257px;
	padding: 28px;
	min-width: 407px;
	max-width: 407px;
	background: white;
	border-radius: 16px;
	margin-right: 10px;
}
.vacancy_card .vacancy_comp{
	font-style: 18px;
	white-space: nowrap;
	text-overflow: ellipsis;
	color: var(--black);
	overflow: hidden;
}
.vacancy_card .vacancy_job{
	font-size: 22px;
	font-weight: bold;
}
.vacancy_tags{
	display: flex;
	align-items: center;
}
.vacancy_tags > div{
	margin-right: 6px;
	border-radius: 8px;
	background: var(--light-grey);
	padding: 8px 14px;
	font-size: 16px;
	font-weight: 500;
}
.vacancy_tags > div:last-child{
	margin-right: 0;
}
.vacancy_tags .tag_text{
	margin-left: 28px;
}
.vacancy_tags .loc_tag,
.vacancy_tags .type_tag{
	position: relative;
}
.vacancy_tags .loc_tag:before,
.vacancy_tags .type_tag:before{
	position: absolute;
	content: "";
	height: 24px;
	width: 24px;
	top: calc(50% - 12px);
	left: 12px;
}
.type_tag:before{
	background: url('../imgs/Remote.svg') no-repeat 100% / contain;
}
.loc_tag:before{
	background: url('../imgs/Geo.svg') no-repeat 100% / contain;
}
.vacancy_salary .salary_text{
	background: var(--yellow);
	border-radius: 8px;
	padding: 8px 14px;
}

/* FILTERS */
.filters{
	margin-top: 32px;
/*	margin-bottom: 1000px;*/
}
.filters_wrapper{
	background: var(--light-grey);
	border-radius: 16px;
	padding: 48px 48px 71px 48px;
}
.filters_header{
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 20px;
}
.filters_title{
	color: var(--black);
	font-size: 28px;
	font-weight: bold;
}
.filter_action{
	color: var(--gray-text);
	font-size: 16px;
}
.filters_body .filter_form{
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
}
.filter_form .main_button{
	font-size: 14px;
	height: 50px;
}
.filter_input{
	border: none;
	outline: none;
	font-family: var(--font);
	font-size: 16px;
	line-height: 130%;
	height: 50px;
	border-radius: 8px;
	padding: 12px 16px;
	color: var(--black);
	margin-right: 8px;
}
.filter_input::placeholder{
	color: var(--gray-text);
}
.remote_option{
	position: absolute;
	display: flex;
	align-items: center;
	bottom: -33px;
	line-height: 120%;
}
.remote_option .custom_check{
	display: none;
}
.remote_option .checkbox{
	width: 42px;
	height: 23px;
	background: white;
	border-radius: 25px;
	display: flex;
	align-items: center;
	margin-right: 8px;
}
.checkbox .checkbox_check{
	position: relative;
	left: 2px;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background: var(--light-grey);
	transition: left .1s ease-in-out, background .1s ease-in;
}
.custom_check.checked + .checkbox .checkbox_check#toggle{
	left: 20px;
	background: #39c671;
}


.selection{
	display: flex;
	align-items: center;
	height: 50px;
	width: 252px;
	border-radius: 8px;
	background: white;
	margin-right: 8px;
	color: var(--gray-text);
	font-weight: 500;
	position: relative;
}
.selection .selected{
	display: flex;
	align-items: center;
	width: 100%;
	height: 100%;
	padding: 12px 16px;
}
.selection .selection_options{
	position: absolute;
	top: 100%;
	display: none;
	margin-top: 8px;
	background: white;
	color: var(--black);
	width: 100%;
	border-radius: 8px;
	padding: 12px;
	max-height: 280px;
	overflow: auto;
}
.selection .selection_options::-webkit-scrollbar{
	-webkit-appearance: none;
	width: 0;
}
.selection .selection_options.opened{
	display: block;
}
.selection .selection_options .option{
	width: 100%;
	padding: 8px 10px;
}
.selection .selection_options .option:hover{
	background: var(--light-grey);
	border-radius: 8px;
	cursor: pointer;
}
.selection .selected.not_empty{
	position: relative;
	pointer-events: none;
}
.selection .selected.not_empty:after{
	position: absolute;
	content: "\2716";
	right: 16px;
	font-size: 12px;
	pointer-events: all;
}

/* VACANCIES */

.vacancies{
	margin-top: 28px;
	padding: 0 60px;
}
.vacancies_wrapper{
	display: grid;
	grid-template-columns: repeat(2, minmax(0, 1fr));
	grid-auto-flow: column;
	grid-gap: 20px;
}
.vacancy{
	border-radius: 16px;
	border: 1px solid var(--gray-text);
	background: white;
	padding: 36px;
	height: 361px;
	color: var(--black);
}
.vacancy_body{
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.vacancy_body .company{
	display: flex;
	align-items: center;
}
.company .company_image{
	width: 48px;
	height: 48px;
	border-radius: 50%;
	margin-right: 12px;
}
.company .company_image img{
	object-fit: cover;
}
.company .company_name{
	font-weight: 600;
	font-size: 20px;
}
.vacancy_body .job_title{
	font-weight: bold;
	font-size: 22px;
}
.vacancy_footer{
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.vacancy_footer .vacancy_about{
	position: relative;
	margin-right: 22px;
	font-weight: 600;
	font-size: 14px;
}
.vacancy_footer .vacancy_about:after{
	position: absolute;
	right: -22px;
	content: "\279D";
}
.vacancies .button_wrapper{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	margin-top: 60px;
}
.vacancies .button_wrapper .load_more{
	border-radius: 5px;
	color: white;
	background: var(--black);
	font-weight: 600;
	font-size: 14px;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 50px;
	max-width: 650px;
	width: 50%;
}

/* FOOTER */
footer{
	margin-top: 80px;
	padding: 0 60px;
	margin-bottom: 40px;
}
.footer_wrapper{
	padding: 48px 57px;
	background: var(--black);
	border-radius: 16px;
	color: white;
	height: 250px;
}
.footer_body{
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.footer_left{
	display: flex;
	height: 100%;
	flex-direction: column;
	justify-content: space-between;
}
.logo{
	pointer-events: none;
}
.download{
	display: flex;
	align-items: center;
}
.download .appstore,
.download .playmarket{
	height: 50px;
	width: 180px;
	border-radius: 5px;
	border: 1px solid white;
	padding: 8px 27px;
	margin-right: 8px;
}
.download .playmarket{
	margin-right: 0;
}
.copy{
	font-weight: 500;
	font-size: 16px;
}
.footer_right{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100%;
}
.footer_navbar{
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.navbar_column{
	margin-right: 40px;
	font-weight: 500;
}
.navbar_column:last-child{
	margin-right: 0;
}
.navbar_column .navbar_item{
	color: var(--gray-text);
	font-size: 18px;
	margin-bottom: 4px;
	line-height: 1.44;
}
.navbar_column .navbar_item:last-child{
	margin-bottom: 0;
}
.navbar_column .navbar_item.item_bold{
	color: white;
	margin-bottom: 12px;
}
.footer_info{
	font-size: 16px;
	line-height: 1.2;
}
.footer_info .info_docs{
	display: flex;
	list-style-type: disc;
}
.footer_info .info_docs li{
	margin: 0 13px;
}
.footer_info .info_docs li:first-child{
	margin-left: 0;
	list-style-type: none;
}